*{
  box-sizing: border-box;
}
html{
  font-family: sans-serif;

}
a{
  text-decoration: none;
}
/*
/////////////////////////////////////////////
*/
header{
  
  padding: 10px;
}

header .logo-area{
  color: white;
  display: inline-block;
  width:20%;
  margin-left: -4px;
}
header .logo-area a {
 text-decoration: none;
 font-size: 20px;

}
header .logo-area a img{
  height: 45px;
  margin-top: 30px;
  margin-left: 35px
}
header .menu{
  display: inline-block;
  width: 80%;
  margin-left: -4px;
  text-align: right;
  padding-right: 20px;
}
header .menu a{
  color:black;
}
header .menu ul li{
  display: inline-block;
}

header #nav-button{
  border-width: 2px;
    font-weight: 400;
    font-size: 18px;
    padding: 1.2rem;
}
header #nav-button a:hover {
  color: grey;
}
.top-section #greeting{
  margin-top: 50px;
  padding: 20px;
  text-align: center;
   font-weight: bold;
   font-size: xxx-large;
}
.top-section #job-title{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
   font-size: xx-large;

}
.top-section h2{
  text-align: center;
  font-size: large;
  padding-bottom: 10px;
  margin-bottom: 40px;
  font-family: "europa", sans-serif;
  color: rgba(10, 10, 10, 0.9);
  
}
.top-section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.dev-art img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}

.container-1 div{
  border-bottom: 1px solid grey;
  padding: 10px;
  margin: 0 auto;
  webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.32);
box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.32);
}
.box-1{
  flex: 1;
  order: 1;
  text-align: center;
  line-height: 1.6;
  border: 1px solid blue;

}
.box-2{
  flex: 1;
  order: 2;
  text-align: center;
  line-height: 1.6;
  border: 1px solid orange;
}
/*
.main{
  width: 800px;
  height: 550px;
  text-align: center;
  padding: 50px;
  margin: auto;
  webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.32);
box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.32);
}
*/
#about-me{
  line-height: 1.6;
  margin-right: 60px;
  width: 250px;
  height: 350px;
  margin-left: 20px;
  float: left;
  border-bottom: 1px solid black;
}
#about-me a{
  font-style: italic;
}
#about-me h2{
  font-weight: bold;
}
/*
 #goals{
   line-height: 1.6;
  margin-left: 60px;
  width: 250px;
  height: 350px;
  margin-right: 20px;
  float:right;
  border-bottom: 1px solid black;
 }
 */
 .box-1 h2{
   font-weight: bold;
 }
 .box-2 h2{
   font-weight: bold;
 }
 
 #web-list{
   display: flex;

 }
 #web-list li{
  flex: 1;

 }
 #web-lang{
   display: flex;
 }
 #web-lang li{
   flex: 1;
   padding-top: 5px;
   padding-bottom: 5px;

 }
/*
 #css-icon{
  margin-right: 50px;
  margin-left: 50px;
 }
 
 #css-list{
   padding-left: 25px;
   padding-right: 15px;
 }
 */
.footer{
  margin: 20px;
  
}
.footer ul{
  text-align: center;
  padding: 20px;
  
}
.footer ul li{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;

}
.footer h3{
  padding-top: 10px;
}
.footer a{
  color:black;
}
 #about-me p{
  padding: 10px;
  line-height: 1.6;

}
#goals p{
  padding: 10px;
  line-height: 1.6;

}

@media only screen and (max-width: 600px) {
  .dev-art img {
    width: 100%;
    height: auto;
    }
  }
  /*
  @media only screen and (max-width: 600px) {
   .main{
    height: 800px;
    width: 400px;
   }
  }

  @media only screen and (max-width: 600px) {
    #about-me{
      margin-bottom: 10px;
    }
   }
   */
   @media(min-width: 768px){

        
    .container-1 {
        display: flex;
        border: 1px solid red;
        

    }
}

  
   
   


  

